<?xml version="1.0" encoding="utf-8"?>
<!--
  Author: Damir Murat
  Version: $Revision: 877 $, $Date: 2008-10-12 23:30:14 +0200 (zo, 12 okt 2008) $, $Author: dmurat1 $
  Since: 0.6
-->
<objects
    xmlns="http://www.springactionscript.org/schema/objects"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springactionscript.org/schema/objects
        http://www.springactionscript.org/schema/objects/spring-actionscript-objects-1.0.xsd">

  <!--
  <object id="traceTarget" class="mx.logging.targets.TraceTarget">
    <property name="includeCategory" value="true"/>
    <property name="includeDate" value="true"/>
    <property name="includeLevel" value="true"/>
    <property name="includeTime" value="true"/>

    <property name="level" value="0"/>
    <property name="filters">
      <array>
        <value>USER_LOG</value>
        <value>org.puremvc.*</value>
        <value>mx.rpc..*</value>
        <value>mx.messaging.*</value>
      </array>
    </property>
  </object>

  <object id="log" class="org.pranaframework.ioc.factory.MethodInvokingObject">
    <property name="target" value="mx.logging.Log" type="Class"/>
    <property name="method" value="addTarget"/>
    <property name="arguments">
      <array>
        <ref>traceTarget</ref>
      </array>
    </property>
  </object>
  -->

  <object id="startupCommand" class="org.puremvc.arch_101.unit_03.lab_02.controller.StartupCommand">
    <property name="deleteUserCommand" ref="deleteUserCommand"/>
    <property name="addRoleResultCommand" ref="addRoleResultCommand"/>
    <property name="userProxy" ref="userProxy"/>
    <property name="roleProxy" ref="roleProxy"/>
    <property name="applicationMediator" ref="applicationMediator"/>
    <property name="userListMediator" ref="userListMediator"/>
    <property name="userFormMediator" ref="userFormMediator"/>
    <property name="rolePanelMediator" ref="rolePanelMediator"/>
  </object>

  <object id="deleteUserCommand" class="org.puremvc.arch_101.unit_03.lab_02.controller.DeleteUserCommand">
    <property name="userProxy" ref="userProxy"/>
    <property name="roleProxy" ref="roleProxy"/>
  </object>

  <object id="addRoleResultCommand" class="org.puremvc.arch_101.unit_03.lab_02.controller.AddRoleResultCommand"/>

  <object id="roleProxy" class="org.puremvc.arch_101.unit_03.lab_02.model.impl.RoleProxy"/>

  <object id="userProxy" class="org.puremvc.arch_101.unit_03.lab_02.model.impl.UserProxy">
    <property name="userLoadDelegate" ref="userLoadDelegate"/>
  </object>

  <object id="userLoadDelegate" class="org.puremvc.arch_101.unit_03.lab_02.model.delegate.impl.UserLoadDelegate">
    <property name="serviceUrl" value="assets/data/user/users.xml"/>
  </object>

  <object id="applicationMediator" class="org.puremvc.arch_101.unit_03.lab_02.view.mediator.ApplicationMediator"/>

  <object id="userListMediator" class="org.puremvc.arch_101.unit_03.lab_02.view.mediator.UserListMediator">
    <property name="userProxy" ref="userProxy"/>
  </object>

  <object id="userFormMediator" class="org.puremvc.arch_101.unit_03.lab_02.view.mediator.UserFormMediator">
    <property name="userProxy" ref="userProxy"/>
  </object>

  <object id="rolePanelMediator" class="org.puremvc.arch_101.unit_03.lab_02.view.mediator.RolePanelMediator">
    <property name="roleProxy" ref="roleProxy"/>
  </object>
</objects>
