<?xml version="1.0" encoding="UTF-8"?>
<tags>
<metatag name="Component" description="Used to define object definitions on a class which will be used by the class scaning system in Spring Actionscript" classes="true" variables="false" functions="false" getters="false" setters="false" public="true" private="true" protected="true" internal="true" defaultAttribute="id" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="id" datatype="0" description="object name as it will be known in the application context" required="false"  defaultValue="" choices="," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="scope" datatype="3" description="determines if the object will be a singleton or not" required="false"  defaultValue="singleton" choices="singleton,prototype," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="lazyInit" datatype="2" description="determines if the object will be created at context startup when its defined as a singleton" required="false"  defaultValue="" choices="," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="factoryMethod" datatype="0" description="The name of a method which should be invoked instead of using new ClassName()" required="false"  defaultValue="" choices="," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="factoryObjectName" datatype="0" description="The name of an object definition known by the context which will be used as a factory for the current object definition, when this is set the factoryMethod is required to be set also" required="false"  defaultValue="" choices="," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="initMethod" datatype="0" description="The name of a method which will be invoked directly after the object has been created" required="false"  defaultValue="" choices="," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="destroyMethod" datatype="0" description="The name of a method on the class defined by the className property that will be called when the application context is disposed. Destroy methods are used to release resources that are being kept by an object." required="false"  defaultValue="" choices="," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="autowire" datatype="3" description="Defines the way an object will be autowired (configured)." required="false"  defaultValue="no" choices="no,byType,byName,constructor,autodetect," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="primary" datatype="2" description="True if this object needs to be used as the primary autowire candidate when the container is autowiring by type." required="false"  defaultValue="" choices="" asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="dependsOn" datatype="0" description="A comma delimited list of object names that this object depends on." required="false"  defaultValue="" choices="" asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="skipPostProcessors" datatype="2" description="Determines whether the object factory will send the created object through its list of IObjectProcessors." required="false"  defaultValue="" choices="" asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="skipMetadata" datatype="2" description="Determines whether the autowire processor will examine the class metadata." required="false"  defaultValue="" choices="" asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="dependencyCheck" datatype="3" description="Determines if and how the object properties dependencies should be checked." required="false"  defaultValue="none" choices="none,simple,objects,all," asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="Constructor" description="Used to define constructor arguments that need to be injected by Spring Actionscript" classes="true" variables="false" functions="false" getters="false" setters="false" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="args" datatype="0" description="comma delimited number of constructor arguments that can be defined like this: value=Value,ref=objectName" required="false"  defaultValue="" choices="" asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="Inject" description="Used to define values or object that need to be injected by Spring Actionscript" classes="false" variables="true" functions="false" getters="true" setters="true" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="value" datatype="0" description="explicit value to be injected, or a placeholder like this ${plaveHolderName}" required="false"  defaultValue="" choices="" asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="ref" datatype="0" description="the id of another component that needs to be be injected" required="false"  defaultValue="" choices="" asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="Invoke" description="Used to define argument values or references that need to be injected by Spring Actionscript" classes="false" variables="false" functions="true" getters="false" setters="false" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="args" datatype="0" description="comma delimited number of arguments that can be defined like this: value=Value,ref=objectName" required="false"  defaultValue="" choices="" asType="" insertedByProposal="true" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="EventHandler" description="Adds the annotated method as an event listener to the IEventBus instance of the current application context" classes="false" variables="false" functions="true" getters="false" setters="false" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="name" datatype="0" description="Determines the event type that the annotated method handles" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="properties" datatype="0" description="Determines the event properties that will be passed to the annotated method" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="clazz" datatype="0" description="Determines the event Class that the annotated method will handle" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="useWeakReference" datatype="2" description="Determines if the event handler will be added using a weak reference" required="false"  defaultValue="false" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="topics" datatype="0" description="A comma separated list of topics that the event handler will listen for." required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="topicProperties" datatype="0" description="" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="RouteEvents" description="Re-routes the events dispatched by an object to the EventBus" classes="true" variables="false" functions="false" getters="false" setters="false" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="events" datatype="0" description="A list of event types that need to be re-routed" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="topics" datatype="0" description="A comma separated list of topics that the event will be associated with." required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="topicProperties" datatype="0" description="" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="RouteMVCEvents" description="Re-routes the events dispatched by an object to the EventBus for use by the MVC micro-framework" classes="true" variables="false" functions="false" getters="false" setters="false" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="events" datatype="0" description="A list of event types that need to be re-routed" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="topics" datatype="0" description="A comma separated list of topics that the event will be associated with." required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="topicProperties" datatype="0" description="" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="Command" description="Indicates that the decorated class is a command that is triggered by an Event" classes="true" variables="false" functions="false" getters="false" setters="false" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="eventType" datatype="0" description="An event type that triggers the current Command" required="false"  defaultValue="" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="eventClass" datatype="4" description="An event Class that will trigger the current Command" required="false"  defaultValue="" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="executeMethod" datatype="0" description="The method on the Command that will be invoked after instantiation and injection of the Command" required="false"  defaultValue="" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="properties" datatype="0" description="A list of property names on the Event that will be injected into the Command, either as arguments for its execute method or as properties" required="false"  defaultValue="" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="priority" datatype="1" description="The priority of the current command when more than one command is triggered by an event, higher == first" required="false"  defaultValue="" choices="" asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="topics" datatype="0" description="A comma separated list of topics that the command will be triggered for." required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="topicProperties" datatype="0" description="" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="Autowired" description="Determines if the annotated properties will be automatically injected by Spring Actionscript" classes="false" variables="true" functions="false" getters="true" setters="true" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
     <attribute name="mode" datatype="3" description="Determines the autowiring mode, available options are: byName, byType, constructor, autodetect" required="false"  defaultValue="null" choices="byType,byName,constructor,autodetect,no," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="name" datatype="0" description="Determines the name of the object known by Spring Actionscript that will be injected" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="property" datatype="0" description="Used in combination with the 'name' attribute, determines a property name on the specified object to which the annotated property will be bound" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
     <attribute name="externalProperty" datatype="0" description="The name of an external property that will be injected" required="false"  defaultValue="null" choices="," asType="" insertedByProposal="false" validForClasses="true" validForVariables="true" validForFunctions="true" validForGetters="true" validForSetters="true"  />
</metatag>
<metatag name="Required" description="Properties annotated with the [Required] metadata MUST be injected, if Spring Actionscript fails to inject a valid value an error will be thrown" classes="false" variables="true" functions="false" getters="true" setters="true" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
</metatag>
<metatag name="PreDestroy" description="" classes="false" variables="true" functions="false" getters="true" setters="true" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
</metatag>
<metatag name="PostConstruct" description="" classes="false" variables="true" functions="false" getters="true" setters="true" public="true" private="false" protected="false" internal="false" defaultAttribute="" onlyDefaultSyntax="false" since="" allowCustomAttributes="false">
</metatag>
</tags>
